    ._add{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        
        padding: 10px;
      }
    
    
    .txt{
        padding-top: 5vh;
    }

    .header{
        background: rgb(40, 44, 52);
        color: rgb(255, 255, 255);
        border-radius: 10px;
        overflow: auto;
        tab-size: 1.5em;
        height: 10vh;
        text-align: center;
        line-height: 87px;
    }
    .load-message{
        font-size:22px;
        font-weight:bold;
        position:absolute;
        margin:30vh;

    }
    .img-div{
        width: 10vh;
    }

    .interactions {
    text-align: center;
    }
    .table {
        margin: auto;
        width: 90%;
        font-family: Open Sans;
        font-size: 1rem;
        font-weight: 700;
    }
    .table-header {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    justify-content: space-between;
    }
    .table-empty {
    margin: 200px;
    text-align: center;
    font-size: 16px;
    }
    .table-row {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    justify-content: space-between;
    }
    .table-header > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    }
    .table-row > span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
    }
    .button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
    }
    .button-active {
    border-radius: 0;
    border-bottom: 1px solid #38BB6C;
    }